

.noPageh1 {
  font-size: 8rem;
  color: #dc5252;
  text-align: center;

}

.noPageh2 {
  color: #f08989;
  text-align: center;
}

.GoHome {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  color:rgba(52,172,206,255);
}